

<ng-include src="'views/header.html?v=0.0.0.0.1'">
...
</ng-include>

<style>
.setting-content{
    padding-top:50px;
}
.bar-tabs{
    margin:0 1rem;
}
.no-data{
    color: #888;
    font-size: .9rem;
    line-height: 1.3;
    text-align: center;
    margin-top: 55%;
}
</style>
<div class="setting-content" ng-controller='OrdersCtrl'>
    
    <div class="bar-tabs">
        <div class="tabs-tab" ng-repeat='tab in tabs.tabs' ng-class="{'tabs-tab-active':tabs.tabsCurrent(tab.index)}" ng-click='tabs.tabChange(tab.index)'>{{tab.html}}</div>
    </div>

    <div class="include-page" ng-show='tabs.tabsCurrent(1)'>
        <p class="no-data" ng-show='!lists[1].length'>您没有进行中的约见喔<br/>快去预约您感兴趣的话题吧</p>
        <div class="item-ing" ng-repeat='item in lists[1]' ng-show='lists[1].length'>
            <!--  -->
            <pre>{{item}}</pre>
        </div>
    </div>
    <div class="include-page" ng-show='tabs.tabsCurrent(2)'>
        <p class="no-data" ng-show='!lists[2].length'>您还没有待评价的约见喔<br/>师友确认后待评价的约见会显示在这里</p>
        <div class="item-ing" ng-repeat='item in lists[2]' ng-show='lists[2].length'>
            <!--  -->
            <pre>{{item}}</pre>
        </div>
    </div>
    <div class="include-page" ng-show='tabs.tabsCurrent(3)'>
        <p class="no-data" ng-show='!lists[3].length'>您还没有完成过约见喔<br/>快去预约您感兴趣的话题吧</p>
        <div class="item-ing" ng-repeat='item in lists[3]' ng-show='lists[3].length'>
            <!--  -->
            <pre>{{item}}</pre>
        </div>
    </div>

</div>
