<!--

首页

-->

<link rel="stylesheet" href="/build/css/angular-carousel.min.css">

<ng-include src="'views/header.html?v=3'">
...
</ng-include>

<style>
    #star-section-slider{height: 315px;}
    .index-recommend{background:white;border-radius:5px;overflow:hidden;border:1px solid #ddd}
</style>


<section class="content" ng-controller='IndexCtrl'>

    <h6 class="error" style='color:red' ng-show='ServerError'>{{ServerError}}</h6>

    <ul id="star-section-slider" rn-carousel>
        <!-- 明星导师 -->
        <li ng-repeat='star in star_mentor_list' class="index-recommend">
            <a href="#/mentor?id={{star.user_id}}" style='display:block'>
                <img style='max-height:200px;width:100%' ng-src="{{star.portrait}}" alt="每日一星">
                <div style='padding:1rem'>
                    <h3>{{star.highlight}}</h3>
                    <h5>{{star.realname}}
                        <span style='margin-left:20px'>{{star.position}}</span>
                        <!-- <span style='border-left:1px solid #ddd'>{{star.ability}}</span>
                        <span style='border-left:1px solid #ddd'>{{star.grade}}</span> -->
                    </h5>
                    <p><span ng-repeat='award in star.awards' style='margin-right:10px'>{{award}}</span></p>
                </div>
            </a>
        </li>
    </ul>

    <!-- 运营banner -->
    <section class="slide index-slide" style='margin-top:1rem;background:white;border-radius:5px;overflow:hidden;border:1px solid #ddd'>
        <a href="{{qujing_story.story_url}}" style='display:block'>
            <img style='max-height:200px;width:100%' ng-src="{{qujing_story.img}}" alt="每日一星">
            <div style='padding:1rem'>
                <h3>{{qujing_story.title}}</h3>
                <h5>{{qujing_story.mentor_realname}} <span>{{qujing_story.mentor_position}}</span></h5>
                <p ng-bind-html='qujing_story.content_abs | sanitize'></p>
            </div>
        </a>
        <a href="#/find?t=3" style='display:block;text-align:center;line-height:2;border-top:1px dashed #f4f4f4'>更多故事 ></a>
    </section>

    <!-- 列表 -->
    <section class="index-people-lists" style='margin-top:1rem'>
        
        <!-- 每个人 -->
        <div ng-repeat='mentor in rec_mentor_list' style='margin-top:.5rem;background:white;border-radius:5px;overflow:hidden;border:1px solid #ddd'>
            <a href="#/mentor?id={{mentor.user_id}}" style='display:block'>
                <div class='clearfix'>
                    <img style='max-width:100px;float:left;overflow:hidden' ng-src="{{mentor.avatar}}" alt="每日一星">
                    <h3>{{mentor.slogan}}</h3>
                </div>
                <div style='padding:1rem'>
                    <h5>{{mentor.realname}}
                        <span style='margin-left:20px'>{{mentor.position}}</span>
                        <!-- <span style='border-left:1px solid #ddd'>{{mentor.ability}}</span>
                        <span style='border-left:1px solid #ddd'>{{mentor.grade}}</span> -->
                    </h5>
                    <p>
                        <h5 ng-repeat='course in mentor.course_list'>
                            <a href="#/course?id={{course.course_id}}">{{course.title}}</a>
                        </h5>
                    </p>
                </div>
            </a>
        </div>

    </section>


</section>



<ng-include src="'views/tabs.html?v=0.0.0.1'">
...
</ng-include>
