
<!-- 右侧个人账户入口 -->
<div class="my-account" ng-controller="SideController" style="{{sidebarStatus ? 'visibility:visible' :'';}}">
    <div class="header"></div>
    <div class="my-account-contents" style="position:absolute;width:100%;top:48px;bottom:0;left:0;right:0;overflow-x:hidden;overflow-y:scroll;padding-bottom:20px;">
        <div class="account-headpicture-wrap">
            <div class="headpicture account-headpicture">
                <img src="src/img/headpic.png" alt="">
            </div>
            <h4>欢迎回来</h4>
        </div>
        <a class="btn btn-style-1 btn-index account-icon icon-my-order" href="my-order.html"><i></i>我约的师姐/师兄</a>

        <!-- if $this->user_id 是师姐 -->
        <a class="btn btn-style-1 btn-index account-icon icon-my-homepage" href="date-me.html"><i></i>我的主页</a>
        <a class="btn btn-style-1 btn-index account-icon icon-my-course" href="date-me.html"><i></i>我的课程</a>
        <a class="btn btn-style-1 btn-index account-icon icon-order-me" href="date-me.html"><i></i>约我的同学</a>
        <a class="btn btn-style-1 btn-index account-icon icon-my-info" href="date-me.html"><i></i>我的信息</a>
        <a class="btn btn-style-1 btn-index account-icon icon-my-publish-demand" href="date-me.html"><i></i>我发布的需求</a>
        <a class="btn btn-style-1 btn-index account-icon icon-my-join-demand" href="date-me.html"><i></i>我参与的需求</a>
        <a class="btn btn-style-1 btn-index account-icon icon-my-wallet" href="date-me.html"><i></i>我的钱包</a>
        <a class="btn btn-style-1 btn-index account-icon icon-my-message" href="date-me.html"><i></i>我的私信</a>
        <!-- elseif $this->user_id 是普通用户 -->
        <!-- <a class="btn btn-style-1 btn-index">成为师姐/师兄</a> -->
        
        <a class="btn btn-style-2 btn-index btn-logout">退出登录</a>
    </div>
</div>
