button:focus,a:focus{outline: none;}
.btn{
    display:block;
    text-align: center;
    border-radius: 30px;
    font-size:1.2rem;
    border:1px solid rgb(228,228,228);
    color: rgb(91,91,91) !important;
    background: #fff;
    line-height: 2;
    width: 180px;
}


.mentor-detail{width:100%;overflow: hidden;padding-bottom:3rem;}
    .mentor-portrait{width:100%;height:260px;background:#eee;}
        .mentor-portrait img{display:block;height:100%;}
    .mentor-info{text-align: center;}
        .mentor-name{font-size:2rem;line-height: 2;}
        .mentor-awards,
        .mentor-position,
        .mentor-locations,
        .mentor-follows,
        .mentor-cee_score,
        .mentor-course_period{display: inline-block;margin:0 1rem;}
    .mentor-timeslots_offline{}
    .mentor-course{margin:1rem;border-radius: .5rem;overflow: hidden;background: white;border:1px solid #ddd;padding:0 1rem 1rem 1rem;}
        .mentor-course-info{list-style: none}
            .mentor-course-info:before,.mentor-course-info:after{display:table;clear:both;content:'';}
            .mentor-course-info li:first-child{float:left;}
            .mentor-course-info li:last-child{float:right;}
        .mentor-course-name{font-size:1.7rem;line-height: 2;}
        .mentor-course-intro{margin:1rem;}
    .mentor-about{margin:1rem;border-radius: .5rem;overflow: hidden;background: white;border:1px solid #ddd;padding:0 1rem 1rem 1rem;}
        .mentor-about-title{font-size:1.3rem;color:rgb(255, 55, 71);line-height: 3;margin:0;}
        .mentor-about-portrait{max-height:200px;width:100%;overflow:hidden;}
            .mentor-about-portrait img{display: block;width:100%;}
        .mentor-about-intro{font-size:1.1rem;color:#666;}
    .mentor-comment{margin:1rem;border-radius: .5rem;overflow: hidden;background: white;border:1px solid #ddd;padding:0 1rem 1rem 1rem;}
        .mentor-comment>a{display: block;color:inherit;}
            .mentor-comment-title{font-size:1.3rem;line-height: 3;margin:0;text-align: center;border-bottom:1px solid #ddd;color:#aaa;}
            .mentor-last-comment{}
                .mentor-last-comment-content{line-height: 1.86;font-size:1rem;color:#666;margin-bottom:1rem;}
                .related-topic{font-size:.8rem;display: block;color:#aaa;}
                .mentor-last-comment-user{text-align: center; margin:1.86rem 0 3rem}
                    .comment-hr{border:1px solid #ddd;width:3rem;height:1px;margin:0 auto 1.5rem;}
                    .mentor-last-comment-user-content{display:inline-block;}
                        .mentor-last-comment-user:before,.mentor-last-comment-user:after{content:'';display:table;clear:both;}
                        .mentor-last-comment-user-portrait{float:left;width:3rem;height:3rem;border-radius:100%;overflow: hidden;margin-right:.8rem}
                            .mentor-last-comment-user-portrait img{display: block;height:100%;}
                        .mentor-last-comment-user-info{overflow: hidden;width:auto;text-align: left}
                            .mentor-last-comment-user-name{margin:.2rem 0;font-size:1rem;color:#666;}
                            .mentor-last-comment-time{font-size: .5rem;margin:.2rem 0;display: block}
                .comment-btn-more{margin:1rem auto;line-height: 1.5;font-size:.8rem;color:#fff!important;background: rgb(255, 55, 71);padding: .3rem 1rem;width: auto;border: none;}
.order-demand{color: white;background-color: rgb(255, 55, 71);position: fixed;bottom: 0;left: 0;right: 0;line-height: 2;font-size: 1.3rem;text-align: center;letter-spacing: .5rem;}
